/* === BUTTON STYLES === */

button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: var(--space-xs) var(--space-m);
	border-radius: var(--radius-default);
	border: var(--border-thin) solid var(--color-border);
	background-color: var(--color-primary);
	color: var(--color-bg);
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-medium);
	text-decoration: none;
	cursor: var(--cursor-pointer);
	transition: background-color var(--transition-duration-fast)
			var(--transition-ease),
		border-color var(--transition-duration-fast) var(--transition-ease);
}

button:hover {
	background-color: var(--color-primary-hover);
	border-color: var(--color-primary-hover);
}

button:disabled {
	background-color: var(--color-disabled);
	border-color: var(--color-disabled);
	color: var(--color-text-disabled);
	cursor: var(--cursor-disabled);
	opacity: var(--opacity-disabled);
}
