---
import Logo from "./Logo.astro";
import Search from "./Search.astro";
import Dropdown from "./Dropdown.astro";
import Portal from "./Portal.astro";
---

<nav
	class="navbar"
	data-navbar
>
	<div class="navbar-inner">
		<div class="navbar-section logo-section">
			<Logo />
		</div>
		<div class="navbar-section search-section">
			<Search />
		</div>
		<div class="navbar-section dropdown-section">
			<Dropdown />
		</div>
	</div>
	<Portal />
</nav>
<script src="/scripts/navbar.js"></script>
