---
import Card from "./Card.astro";
import "../assets/global.css";

interface Props {
  title: string;
  slug: string;
  description?: string;
  date?: Date;
  // Add any game-specific fields here if needed
}

const { title, slug, description, date } = Astro.props;
---

<div class="card game-card">
  <div class="card-content">
    <h2 class="title">
      <a
        href={`/games/${slug}/index.html`}
        target="_blank"
        rel="noopener noreferrer">{title}</a
      >
    </h2>
    {description && <p class="description">{description}</p>}
    {date && <p class="date">{date.toLocaleDateString()}</p>}
  </div>
</div>
