---
import "../assets/global.css";

interface Props {
  title: string;
  slug: string;
  description?: string;
  date?: Date;
}

const { title, slug, description, date } = Astro.props;
---

<div class="card">
  <div class="card-content">
    <h2 class="title">
      <a href="#" data-post-slug={slug} class="card-open-hero">{title}</a>
    </h2>
    {description && <p class="description">{description}</p>}
    {date && <p class="date">{date.toLocaleDateString()}</p>}
  </div>
</div>
