---
const { allTypes = [], activeType = "" } = Astro.props;
---

<nav class="navbar">
  <div class="nav-left logo">
    <a href="/">
      <img src="/k_blk_svg.svg" alt="Logo" id="navbar-logo-img" />
    </a>
  </div>

  <button class="hamburger-menu" aria-label="Toggle menu" aria-expanded="false">
    <span class="hamburger-icon"></span>
  </button>

  <ul class="nav-center">
    <li>
      <a href="/media/all" class={activeType === "all" ? "active" : ""}
        >All Media</a>
    </li>
    {
      allTypes
        .filter((type) => type != "about")
        .map((type) => (
          <li>
            <a
              href={`/media/${type}`}
              class={activeType === type ? "active" : ""}
            >
              {type.charAt(0).toUpperCase() + type.slice(1)}
            </a>
          </li>
        ))
    }
    <li>
      <a href="/media/about" class={activeType === "about" ? "active" : ""}
        >About</a>
    </li>
  </ul>

  <div class="nav-right">
    <div class="theme-toggle">
      <a id="navbar-theme-toggle" href="#" aria-label="Toggle light/dark theme"
      ></a>
    </div>
  </div>
</nav>
