---
import "../assets/global.css";

const { allTypes = [], activeType = "" } = Astro.props;
---

<nav class="navbar">
  <div class="logo">
    <a href="/">
      <img src="/k_blk_svg.svg" alt="Logo" />
    </a>
  </div>
  <ul class="navbar-menu">
    <li class="navbar-item navbar-media">
      <a href="/media/all" class={activeType === "all" ? "active" : ""}
        >All Media</a
      >
    </li>
    {
      allTypes.map((type: string) => (
        <li class="navbar-item">
          <a
            href={`/media/${type}`}
            class={activeType === type ? "active" : ""}
          >
            {type.charAt(0).toUpperCase() + type.slice(1)}
          </a>
        </li>
      ))
    }
    <li class="navbar-item">
      <a href="/about" class={activeType === "about" ? "active" : ""}>About</a>
    </li>
  </ul>
  <div class="navbar-right">
    <div class="theme-toggle">
      <a id="theme-toggle" href="#" aria-label="Toggle light/dark theme"></a>
    </div>
  </div>
</nav>
