---
import NavbarMenu from "../islands/NavbarMenu.jsx";
import ThemeToggle from "../islands/ThemeToggle.jsx";
import PagefindSearch from "../features/PagefindSearch.jsx";
const {
	taxonomy = ["all", "read", "play", "about"],
	type = "all",
	sort = "newest",
	currentPage = 1,
} = Astro.props;
---

<header class="navbar site-header">
	<div class="site-header-inner">
		<div class="navbar-content-inner">
			<div class="navbar-header-row">
				<a href="/" class="nav__logo">
					<img src="/assets/k_blk_svg.svg" alt="Logo" class="nav__logo-img" />
				</a>
				<div class="search-container-inline">
					<div class="search-bar-inline">
						<PagefindSearch client:load />
					</div>
				</div>
				<div class="navbar-menu-wrapper">
					<NavbarMenu
						taxonomy={taxonomy}
						type={type}
						sort={sort}
						order="desc"
						client:load
					>
						<ThemeToggle client:load />
					</NavbarMenu>
				</div>
			</div>
		</div>
	</div>
	<div id="navbar-dropdown-portal"></div>
</header>
